<?xml version="1.0"?>
<model>
  <name>Spherical Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  <author>
    <name>Manish Saroya</name>
    <email>manishsaroya@gmail.com</email>
  </author>
  <description>
    this robot serve as a module for the omni directional reconfigurable snake robot.
  </description>
  </model>